<div class="arrow-line" [ngStyle]="generalStyles">
  <div class="arrow-line__line" [ngStyle]="lineStyles"></div>

  <span
    class="arrow-line__arrow material-symbols-rounded"
    [ngStyle]="arrowStyles"
  >
    chevron_right
  </span>
</div>

<!-- <div class="arrow-line" [ngStyle]="lineStyles">
  <span
    class="arrow-line__arrow material-symbols-rounded"
    [ngStyle]="arrowStyles"
  >
    chevron_right
  </span>
</div> -->

<!-- <span class="arrow-line material-symbols-rounded" [ngStyle]="arrowStyles">
  chevron_right

  <div class="arrow-line__line" [ngStyle]="lineStyles"></div>
</span> -->
