$color-base-dark-theme-surface: #121212;

$color-primary: #e57373;
$color-secondary: #2196f3;

$color-success: #009688;

$color-surface-5: #1e1e1e;
$color-surface-7: #232323;
$color-surface-8: #252525;
$color-surface-9: #272727;
$color-surface-11: #2c2c2c;
$color-surface-12: #2e2e2e;
$color-surface-14: #333333;
$color-surface-15: #363636;
$color-surface-16: #383838;

$color-white-10: #2a2a2a;
$color-white-20: #414141;
$color-white-30: #595959;
$color-white-40: #717171;
$color-white-50: #888888;
$color-white-60: #a0a0a0;
$color-white-70: #b8b8b8;
$color-white-80: #d0d0d0;
$color-white-90: #e7e7e7;

$color-typography-87: #e0e0e0;
$color-typography-60: #a0a0a0;
$color-typography-38: #6c6c6c;

$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-12: 1.2rem;
